* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 28px;
    background-color: #F2F2F2;
}

.mui-bar {
    width: 88%;
    height: 28px;
    margin: 0 auto;
}

.mui-bar ul {
    width: 50%;
    height: 28px;
    list-style: none;
    display: inline-block;
    font-size: 12px;
}

.mui-bar ul li a {
    text-decoration: none;
    line-height: 28px;
    padding: 0 12px;
    color: #444444;
}

.mui-bar-left li {
    float: left;
}

.mui-bar-right {
    float: right;
}

.mui-bar-right li {
    float: right;
    position: relative;
}

.mui-bar-right ul {
    background-color: #F2F2F2;
    list-style: none;
    width: 70px;
    height: 50px;
    position: absolute;
    top: 28px;
    left: 0;
}

.mui-bar-right ul li {
    width: 70px;
    text-align: center;
}

.mui-bar-right ul li a {
    padding: 0;
    line-height: 24px;
}

.mui-bar-right li span {
    width: 178px;
    height: 178px;
    position: absolute;
    top: 28px;
    right: 0;
    visibility: hidden;
    z-index: 29;
}

.mui-bar-hidden {
    z-index: 29;
}

.mui-bar-right li:first-child:hover .mui-bar-imghidden {
    visibility: visible;
}

.mui-bar-right li span img {
    width: 100%;
    height: 100%;
}

.foot {
    display: block;
    width: 100%;
    height: 97px;
    background-color: #F2F2F2;
    overflow: hidden;
}

.mui-foot {
    width: 88%;
    height: 166px;
    margin: 0 auto;
}

.mui-foot ul {
    height: 25px;
    list-style: none;
}

.mui-foot ul li {
    float: left;
    font-size: 12px;
    color: #545454;
}

.mui-foot ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    padding: 12px;
}

.mui-foot-ul li {
    padding: 0 28px;
    padding-left: 12px;
}

.mui-foot-ul1 {
    margin-top: 16px;
}

.title {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: inline-block;
    width: 150px;
    height: 65px;
    margin-top: 25px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.search {
    height: 38px;
    width: 466px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 300px;
}

.search>input {
    width: 460px;
    height: 39px;
    border: 1px solid #97e300;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    text-indent: 12px;
}

button {
    width: 58px;
    height: 40px;
    margin: 0 -58px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #00FF00;
    background-color: #00FF00;
}

.search a {
    text-decoration: none;
    color: white;
}

.mui-nav {
    width: 100%;
    height: 60px;
}

.mui-nav ul {
    list-style: none;
    width: 88%;
    height: 60px;
    margin: 5px auto;
    background-color: #f7f7f7;
}

.mui-nav ul li {
    float: left;
}

.mui-nav ul li a {
    line-height: 60px;
    text-decoration: none;
    padding: 12px;
    color: #000000;
}

.mui-nav ul li a:hover {
    color: #0000FF;
}
